@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: 100vh;
  height: 100dvh;
}

section{
  overflow: hidden;
}

button,
a,
.clickable {
  position: relative;
  z-index: 10; 
}


.intro-bg {
  position: relative; /* Necesario para posicionar correctamente el pseudo-elemento */
  background: #faebd7;
}

.intro-bg::before {
  content: "";
  position: absolute;
  top: 0; /* Cambia de `top: 20;` a `top: 0` */
  left: 0;
  width: 100%; /* Asegura que cubra todo el ancho */
  height: 100%; /* Asegura que cubra toda la altura */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='20' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.3;
  z-index: 0; /* Envía el ruido al fondo detrás del contenido */
}

.aboutme-bg {
  position: relative; /* Necesario para que el pseudo-elemento funcione */
  background: #121b30;
  border-top-left-radius: 50px;  
  border-top-right-radius: 50px; 
}

.aboutme-bg::before {
  content: "";
  position: absolute;
  top: 0; /* Cambia de `top: 20;` a `top: 0` */
  left: 0;
  width: 100%; /* Asegura que cubra todo el ancho */
  height: 100%; /* Asegura que cubra toda la altura */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='20' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.1;
  z-index: 0; /* Envía el ruido al fondo detrás del contenido */
}

.experience-bg {
  position: relative; /* Necesario para que el pseudo-elemento funcione */
  background: #0F1729;
  border-top-left-radius: 50px;  
  border-top-right-radius: 50px; 
}

.experience-bg::before{
  content: "";
  position: absolute;
  top: 0; /* Cambia de `top: 20;` a `top: 0` */
  left: 0;
  width: 100%; /* Asegura que cubra todo el ancho */
  height: 100%; /* Asegura que cubra toda la altura */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='20' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.1;
  z-index: 0; /* Envía el ruido al fondo detrás del contenido */
}

.activities-bg {
  position: relative; 
  background: #0F1729;
}

.activities-bg::before{
  content: "";
  position: absolute;
  top: 0; /* Cambia de `top: 20;` a `top: 0` */
  left: 0;
  width: 100%; /* Asegura que cubra todo el ancho */
  height: 100%; /* Asegura que cubra toda la altura */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='20' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.1;
  z-index: 0; /* Envía el ruido al fondo detrás del contenido */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
